.container{
  width: 90em;
  margin: 0 auto;
}

.footer-container{
  width: 90em;
  margin: 0 auto;
  background: black;
 
}


header{
  background: #ffcccc;
}

.contact-login{
  padding-top: 13px;
  padding-bottom: 7px;
  padding-left: 75px;
  padding-right: 75px;
}

.navbar-icon-socialmedia-dropdown{
  background: white;
  width: 100%;
}

.white{
  background: white;
  margin-top: 31px;
}

.contact-login-color{
  background: #ff9999;
}

.main-body{
  margin-top: -5px;
}

.customer-say-rectangle
{
 
  background: #cccc99;
  margin-top: 56px;
  padding-bottom: 48px;
}

.footer-upper{
background: rgb(15, 15, 15);
padding-top: 65px;
width: 100%;
}

.footer-lower{
  background: black;
  margin-left: 75px;
}


.footer-upper-left{
  width: 45.972222222%;
  margin-left: 80px;
  float: left;
}

.footer-upper-right{
  float: left;
  color: white;
  margin-left: 122px;
  width: 25.3083333%;
}

.slider-border{
  padding-right: 15px;
  background: #cc6666
}

