
@font-face{
  src:url(../font/playfair/PlayfairDisplay-Italic.otf);
  font-family: playfair-i;
}

@font-face{
  src:url(../font/playfair/PlayfairDisplay-BoldItalic.otf);
  font-family: playfair-bi;
}

@font-face{
  src:url(../font/krinkes/KrinkesDecorPERSONAL.ttf);
  font-family: Krinkes;
}

@font-face{
  src:url(../font/lato/Lato-Bold.ttf);
  font-family: lato-bold;
}

@font-face{
  src:url(../font/lato/Lato-Regular.ttf);
  font-family: lato-reg;
}

.no-list{
  list-style: none;
}

.hamberger{
  font-size: 20px;
}

#toggle, #burger{
  display: none;
}

.nav-list{
  padding-top: 15px;
  margin-left: 55px;
}

.nav-item{
  font-family: playfair-i;
  margin-left: 25px;
  font-size: 18px;
}

.nav-item a{
  color: #000000;
}


.nav-item a:hover{
  text-decoration: underline;
}



.links-inline{
  display: inline;
}

.links-inline2{
  display: inline-block;
}

.top-header-links{
  float: right;
}

.top-header-linklist{
  margin-top: -4px;
}

.contact-no{
  float: left;
  font-family: 'Lato', sans-serif;
  font-size: 10.56px;
  color: #cc0000;
}

.top-header-linkitem{
  font-family: 'Lato', sans-serif;
  font-size: 11px;
}


.top-header-linkitem a:hover{
  text-decoration: underline;
  color: black;
}
.top-header-linkitem a{
  color: #cc0000;
}

.contact-text{
  float: right;
  margin-left: 8px;
  padding-left: 5px;
}

.contact-icon{
  float: left;
}

.dashed-before::before{
  content: "|";
  margin-right: 35px;
  margin-left: 35px;
  color: #cc0000;
}

.navbar-container{
  float: left;
}

.title{
  font-family: Krinkes;
  font-size: 72px;
  float:right;
  margin-top: -12px;
}

.title a{
  color: black
}

.navbar-icon{
  width:58.8194444%;
  float: left;
}


.socialMedia a i{
  color: #cccc99;
  
}

.socialMedia-dropdown{
  float: right;
  margin-top: 15px;
  margin-right: 75px;
 
}

.socialMedia{
  float: left;
  margin-right: 50px
}

.socialicon{
  background-image: url(../images/circle2.jpg);
  background-repeat: no-repeat;
  padding:12px;
 
}

.socialicon:hover{
  background-image: url(../images/circle3.jpg);
  color: white
}


.socialicon-item{
  margin-left: 5px;
}

.dropdown{
  float: right;
}

.search_categories{
  font-size: 13px;
  background: black;
  position: relative;
  border-style: none
}


.search_categories:hover{
 background: gray;
}


.search_categories .select{
 
  width: 90px;
  background:url(../images/dropdownicon.png) no-repeat;
  background-position:90% center;
  border-style: none;
  
}

.search_categories .select select{
  padding: 10px 8px 10px 14px;
  background: transparent;
  line-height: 1;
  border: 0;
  color:white;
  font-family: lato-bold;
  border-radius: 0;
  width: 93px;
  position: relative;
  z-index: 10;
  font-size: 1em;
  border-style: none
}

.search_categories .select select option{
  background: #000000;
  border-style: none;
  font-family: lato-bold;
  outline: none;
}

.sale-botton-on-image-container{
  position: absolute;
}



/* slider code */

.slider-container{
    
  width: 100%;
  height: 700px;
 overflow: hidden;
 position: relative;  
}



.slider-container ul{
  list-style: none;
  display: block;
  top:0px;
  left:0px;
 width: 7200px;
 position: absolute;
}

.slider-container ul li{
  display: inline-block;
}





.slider-btn
{
  font-size: 30px;
  background: black;
  border:none;
  color: white;
  opacity: .7;
}

.slider-btn:hover{
  color:red;
}

.slider-dotElement{
position: absolute;	
left: 300px;
width: 100%; 
}



.slider-dotElement span{
line-height: 22px;
padding: 0 10px;  
margin-left: 5px;
cursor: pointer;
background-image: url(../images/dot-square.png);
background-repeat: no-repeat
}

.slider-dotElement span.active{

  background-image: url(../images/dot-square-hover.png)
}


.slider-dotElement span:hover{

  background-image: url(../images/dot-square-hover.png)
}



.slider-boxes{
  position: absolute;
  margin-top: -65px;
  margin-left: 24%;
}


.whiteTriangle{
  position: absolute;
  margin-top: -700px;
  margin-left: 538px;
}

.whiteTriangle2{
  position: absolute;
  margin-left: 538px;
}


.offer-container{
  margin-left: 75px;
  margin-top: 58px;
 width: 94.79166667%;
}


.offer-container ul{

 width: 100%;
}

.offer-item{
  margin-left: -16px;
}

.offer-icon{
  float: left;
}


.offer-text{
  float: left;
  margin-left: 32px;
}

.offer-item-container{
  width: 100%;
  overflow: hidden;
  padding-top: 22px;
  padding-left: 32px;
  padding-bottom: 22px;
}

.links-inline1{
  display: inline-block;
}


.offer-item-container2{
  width: 100%;
  padding-top: 22px;
  padding-left: 60px;
  padding-bottom: 22px;
}


.offer-item-container3{
  width: 100%;
  padding-top: 22px;
  padding-left: 65px;
  padding-bottom: 22px;
}

.offer-list-item1{
background-image: url(../images/offerimage1.png);
background-repeat: no-repeat;
width: 31.64835165%;
}

.offer-list-item2{
  background-image: url(../images/offerimage2.png);
  background-repeat: no-repeat;
  width: 33.6996337%;
  margin-left: -14px;
  }

  .offer-list-item3{
    background-image: url(../images/offerimage3.png);
    background-repeat: no-repeat;
    margin-left: -25px;
    margin-top: -15px;
    width: 34.06593407%;
  }

.offer-icon{
  font-size: 48px;
  color: white;
}

.offer-title{
  font-size: 30px;
  color: white;
  font-family: lato-bold;
}

.offer-detail{
  color: white;
  font-family: lato-reg;
  font-size: 14px;
  margin-top: 5px;
}

.HandPicked-container,.Summer-Collection-container{
  position: relative;
  margin-top: 88px;
  width: 100%;
}


.handpicked-item-hover{
  width: 355px;
   height: 340px ;
    background: rgba(0,0,0,0.4) ; 
    position: absolute; 
    top:27px; 
    left: 23px; 
   display: none;
}

.handpicked-item-no-hover{
  width: 355px;
   height: 340px ;
    position: absolute; 
    top:27px; 
    left: 23px; 
    border-style: solid;
    border-color: white;
}

.handpicked-item-hover2{
   width: 416px;
   height: 764px ;
   background: rgba(0,0,0,0.4) ; 
    position: absolute; 
    top:20px; 
    left: 20px; 
    display: none;
}


.handpicked-item-no-hover2{
  width: 416px;
  height: 764px ;
   position: absolute; 
   top:20px; 
   left: 20px; 
   border-style: solid;
   border-color: white;
}

.shop-button{
  position: absolute; 
  bottom:70px; 
  left: 153px; 
  display: none
}

.submit-button2{
  margin-top: 265px;
  margin-left: 35%;

}

.handpicked-item-hover:hover a{
opacity: 1;
}

.submit-button3{
  margin-top: 665px;
  margin-left: 35%;
  opacity: 1;
}


.Brand-Collection-container{
  position: relative;
  margin-top: 103px;
}

.Customer-Says-container
{
  position: relative;
  margin-top: 143px;
 
}


.HandPicked-title,.Brand-title{
  font-family: playfair-bi;
  font-size: 29.58px;
  background-image:url(../images/handpickedbg2.jpg);
  text-align: center;
  margin-left: 72px;
  background-repeat: no-repeat;
  width:90.13888889%;

}

.HandPicked-item-container{
  margin-top: 63px;
  margin-left: 72px;
  margin-right: 70px;
  width: 90.13888888%;
}

.HandPicked-item-container ul{
width: 100%;
}

.HandPicker-item{
  width: 402px;
}

.HandPicker-item2{
  width: 452px;
}

.onlymobile
{
  display: none;
}

 .HandPicker-item:hover div.handpicked-item-hover
{
  display: block;
} 

.HandPicker-item:hover div.handpicked-item-no-hover
{
  display: none;
} 

.HandPicker-item2:hover div.handpicked-item-hover2
{
  display: block;
} 

.HandPicker-item2:hover div.handpicked-item-no-hover2
{
  display: none;
} 



.HandPicker-item:hover div.shop-button
{
  display: block;
} 

/* .shop-button{
  display: none;
} */

.HandPicker-item-list{
  display: inline-block;
}

.extra-spacing{
  margin-top: 10px;
}

.summer-Collection-list-container{
  padding-top:15px;
  padding-bottom:15px;
  padding-left:15px;
  margin-top: 61px;
  border-style: solid;
  border-color: gray;
  margin-left: 75px;
  margin-right: 75px;
  border-width: thin;
}

.summer-list-item{
  margin-left: 15px;
}

.summer-collection-list2{
  margin-top: 12px;
}

.brand-item{
  margin-left: 75px;
}

.brand-list{
  margin-top: 115px;
}

.brand-list-container{
  margin-left: 53px;
}

.customer1{
 
  width: 37.29166667%;
  float: left;
  margin-left: 90px;
  margin-top: 35px;
}

.customer2{
  width: 38.54166667%;
  margin-right: 65px;
  float: right
}

.customer-image{
  float: left;
  width:40.96834264%;
}

.customer-image2{
  margin-top: 20px;
  margin-left: 10px;
  float: right;
}
.customer-word{
  float: right;
  width: 90.5362776%;
}

.customer-word2{

  width: 100%;
}

.customer-word p{
font-size: 18px;
font-family: playfair-i;
color: white;
line-height: 30px;

}

.customer-word2 p{
  font-size: 18px;
font-family: playfair-i;
color: white;
line-height: 30px;
text-align: right
}

.customer-name-word{
  margin-top: 95px;
  width: 59.03165736%;
}

.customer-name-word2{
  margin-top: 128px;
  margin-left: 5px;
  float: left;
  width: 51.71171171%;
}

.customer-name{
  font-size: 30px;
  font-family: playfair-bi;
}

.customer-designation{
  font-size: 14px;
  font-family: lato-bold;
  color:#666666;
  margin-top:15px;

}

.customer-name-designation{
  margin-top: 50px;
  float: left;
  margin-left: 30px;
}

.customer-name-designation2{
  margin-top: 50px;
  margin-right: 10px;
  float: right;
}

.footer-upper-left-title{
  font-size: 16px;
  font-family: lato-bold;
  color:white;
}

.footer-upper-left-title:hover{
  text-decoration: underline;
}

.footer-upper-left-item{
  font-size: 14px;
  font-family: lato-reg;
}

.footer-upper-left-item a{
  color:#666666;
}


.footer-upper-left-item a:hover{
  color:white;
  text-decoration: underline
}



.extra-footer-left-list-distance
{
margin-left: 124px;
}

.dis-from-title{
  margin-top: 48px;
}


.step-dis{
  margin-top: 14px;
}

.footer-social-icon-list{
  font-size: 24px;
  margin-top: 49px;
  color: black;
}

.social-icon-footer-item{
  background: white;
  padding:10px;
  padding-left: 12px;
  padding-right: 15px;
  border-radius: 100%;
  margin-left: 15px;
}



.social-icon-footer-item-top{
  background: white;
  padding:10px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 100%;

}

.social-icon-footer-item:hover{
  background: black;
  color: white;
  cursor: pointer;
}

.social-icon-footer-item-top:hover{
  background: black;
  color: white;
  cursor: pointer;
}

.subscribe-class{
  margin-top: 49px;
}

.italic{
  font-family: playfair-i;
}

.email-box-container{
  border-color: #333333;
  border-style: solid;
  margin-top:52px;
  padding-right: 2px;
  padding-left: 10px;
  padding-bottom: 3px;
  width: 95.4%;
}

.email-box-container input{
  width:67.5%;
  height:35px;
  margin-left: 5px;
  background: rgba(0, 0, 0, 0.4);
  border-style: none;
  font-family: lato-reg;
  font-size: 12px;
  
}

.email-box-container input:focus{
  outline: none;
  color: white;
}

.email-box-container button{
  cursor: pointer;
  background: #333333;
  border-style: none;
  padding:8px;
  width: 29.56098886%;
}

.email-box-container button span{
color: white;
font-family: lato-reg;
font-size: 12px;
}


.add-to-cart{
  position: absolute;
  top:303px;
  left:40px;
}

.percent-off{
  position: absolute;
  top:5px;
  left:5px;
}

.horizontal-Line{
  margin-top: 71px;
  margin-left: 75px;
}

.copy-right{
  float: left;
}

.copy-right p{
  color:#666666;
  font-size: 11px;
  font-family: lato-reg;
  margin-top: 10px;
  line-height: 19px;
}

.goto-top{
  float: right;
  margin-right: 75px;
  margin-top: 25px;
}

.add-to-cart a img:hover{
  content: url(../images/add-to-cart-hover.png)
}

.card-icon{
  color: white;
}

.card-icon{
  margin-top: 20px;
}

.card-item{
  margin-left: 3px;
  padding-bottom: 75px;
}

.handpicker-list-column2{
  display: inline-block; 
  margin-left: 15px;
}


.handpicker-list-column3{
display: inline-block; margin-left: 18px;
}


.phone-icon{
  width:24px;
}

.image-shop-now{
  cursor: pointer;
  position:absolute;
  bottom:175px;
 left: 624px;
  width: 191px;
  padding-top: 12px;
  padding-bottom: 12px;
  background:#ff9966;
  border-style: none;
  font-size: 24px;
  font-family: lato-bold;
  color: white;
}

.sales-container{
  position: absolute;
  bottom:277px;
  left: 593px;
  width: 208px;
  background-image: url(../images/mid-summer-bg.png);
  padding-top: 38px;
  padding-bottom: 38px;
  padding-left: 71px;
  background-repeat: no-repeat;

}


.percent-text
{
  font-family: lato-bold;
  font-size: 31px;
  color:black;
  margin-top: 12px;
}

.upto{
  font-size: 20px;
  color: white;
  font-family: lato-bold;
  margin-top: 18px;
  margin-left: 35px;
}

.mid-season-sale{
  font-size: 59px;
  font-family: lato-bold;
  color:black;
  margin-top: 18px;
}

.mid-season{
  font-size: 20px;
  color: white;
  font-family: lato-bold;
}


.relative-class{
  position: relative;
}


